<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/">Harendra</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="/">Home <span class="sr-only"></span></a>
            <a class="nav-item nav-link" routerLink="/cars">Car</a>
            <a class="nav-item nav-link" routerLink="/bykes">Byke</a>
            <a class="nav-item nav-link" routerLink="/movies">Movies</a>
            <a class="nav-item nav-link" routerLink="/laptops">Laptops</a>
        </div>
    </div>
</nav>