<nav class="navbar navbar-expand-lg navbar-dark bg-primary"> 
<a class="navbar-brand">Harendra</a>

<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/">Home <span class="sr-only"></span></a>
        <a class="nav-item nav-link" routerLink="/about">About</a> 
        <a class="nav-item nav-link" routerLink="/contact-us">Contact Us</a> 
        <a class="nav-item nav-link" routerLink="/products">Products</a> 
        <a class="nav-item nav-link" routerLink="/images">Images</a> 
        <a class="nav-item nav-link" routerLink="/parent">@Input@Output</a> 
        <a class="nav-item nav-link" routerLink="/bykes">Byke</a>
        <a id= "myButton1" class="nav-item nav-link" routerLink="/register">Register</a> 
        <a id= "myButton2" class="nav-item nav-link" routerLink="/login">Login</a> 
    </div>
</div>
</nav>
