<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <!-- <a class="navbar-brand" routerLink="#" >FMSCorp</a> -->
  <img src="https://bit.ly/2sHaTPN" class="rounded-circle z-depth-0" alt="avatar image" height="90">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="products">Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contracts">Contract</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#">Billing</a>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">

      <li class="nav-item">
        <a class="nav-link" routerLink="#">About Us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="#">Contact Us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="#">Login</a>
      </li>

      <li class="nav-item avatar dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <img src="https://scontent-maa2-1.xx.fbcdn.net/v/t1.0-1/p160x160/56547436_2410181629026713_7001484587327029248_n.jpg?_nc_cat=108&_nc_oc=AQmPK2YYzSWvpQNeMphAedVw5pCj7qS2zukK7RevJV4u8Mb--jReO5GHcebXpnTLYPutVx47fETTtBazkNSINZTU&_nc_ht=scontent-maa2-1.xx&_nc_tp=1002&oh=db171185bc1bcac013c2622573fb07a8&oe=5ED6A8A2" class="rounded-circle z-depth-0"
            alt="avatar image" height="50">
        </a>
        <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
          aria-labelledby="navbarDropdownMenuLink-55">
          <a class="dropdown-item" routerLink="#">Change Password</a>
          <a class="dropdown-item" routerLink="#">Change Image</a>
          <a class="dropdown-item" routerLink="#">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>