<div class="alert alert-danger" *ngIf='error'>
    {{error}}
</div>
<div class="alert alert-success" *ngIf='message'>
    {{message}}
</div>
<div class='col-md-3 offset-md-4 mt-4'>
    <form #addContractForm='ngForm' (ngSubmit)='addContract(addContractForm)'>
       
        <div class="form-group" ngModelGroup="productBean">
            <label for="productId"> Select Product </label>
            <select name="productId" id="productId" #productId='ngModel' ngModel class="form-control">
                <option *ngFor='let product of products' value="{{product.productId}}" >
                    Name: {{ product.productName}} | Price: {{product.productPrice}} | Stock: {{product.productQuantity}} 
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="text" name="quantity" id="quantity" #quantity='ngModel' ngModel class="form-control" required>
        </div>

        <div class="form-group">
            <label for="customerId"> Select Customer</label>
            <select name="customerId" id="customerId" #customerId='ngModel' ngModel class="form-control">
                <option *ngFor='let customer of customers' value="{{customer.userId}}" >
                    Name: {{ customer.fullName}} | Email: {{customer.email}} | CustomerID: {{customer.userId}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="haulierId"> Select Haulier</label>
            <select name="haulierId" id="haulierId" #haulierId='ngModel' ngModel class="form-control">
                <option *ngFor='let haulier of hauliers' value="{{haulier.userId}}" >
                    Name: {{ haulier.fullName}} | Email: {{haulier.email}} | HaulierId: {{ haulier.userId }}
                </option>
            </select>
        </div>
        
        <div class="form-group">
            <label>Delivery Date</label>
            <input type="date" class="form-control" id="deliveryDate" name="deliveryDate" placeholder="Delivery Date" #deliveryDate='ngModel' ngModel class="form-control">
        </div>

        <button type="submit" class="btn btn-outline-primary float-right">Add Product</button>

    </form>
</div>